body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #bbbfc38b;
    margin: 0;
    padding: 0;
}
header {
    background-color: #312f2f;
    color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    height: 200px;
}
.fh{
    margin-top:50px ;
    font-size: 35px;
}
h1{
    margin-top: -5px;
    font-size: 30px;
}
section {
    margin: -57px 30px 70px;
    padding: 40px;
    background: #f0ebeb;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(112, 102, 102, 0.5);
    width: calc(100% - 430px);
    position: relative;
}
.ami{
    width: 20%;
}
.amia{
    margin-top: auto;
}
.rau{
    line-height: 1;
    margin-left:100px ;
}
.raua{
    line-height: 0.5;
    margin-top: 5px;
}
.alu{
    margin-left: 35px;
    line-height: 1;
}
.alum{
    line-height: 0.5;
    margin-top: 5px;
}
.vas{
    line-height: 1;
    margin-left: 100px;
}
.vask{
    line-height: 0.5;
    margin-top: 5px;
}
.met{
    line-height: 1;
    margin-left: 70px;
}
.meta{
    line-height: 0.5;
    margin-top: 5px;
}
.MA{
    width: 60%;
}
.masda{
    line-height: 1;
    margin-left: 60px;
}
.masd{
    line-height: 0.5;
    margin-top: 5px;
}
.roos{
    line-height: 1;
    margin-left: 40px;
}
.roost{
    line-height: 0.5;
    margin-top: 5px;    
}
footer {
    background-color: #312f2f;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    position: relative;
    width: 100%;
    height: 60px;
}
a{
    text-decoration: none;
    color:white ;
}
.all{
    width: 280px;
    margin-left:auto ;
    margin-top: 30px;
    cursor: pointer;
    font-size:17px ;
    background-color: #312f2f;
    border-radius: 10px;
    border: 1px solid ;
    box-shadow: 10px 10px 10px rgba(112, 102, 102, 0.5);
}
.head{
    border-bottom:1px solid #060606 ;
    height:32px ;
    width:245px ;
    padding: 7px;
}
.shead{
    width:266px ;
    height:40px ;
    font-size:25px ;
}
.smhead{
    font-size:20px ; 
}
.srahead{
    font-size:20px ;
}
.srhead{
    font-size:20px ;
}
.con{
    border-radius: 10px;
    border: 1px solid #060606;
}
.scon{
    border: none;
}
.smcon{
    margin: 10px;
}
.sracon{
    margin: 10px;
}
.srcon{
    margin: 10px;
}
.btn{
    background-color: transparent;
    background: none;
    border:none ;
    color: white;
    font-size: 25px;
    cursor: pointer;
    float: right ;
    border-left: 1px solid black ;
    height: 46px;
    width: 46px;
    margin-top: -7px;
}
.sbtn{
    font-size:30px ;
    text-align:center ;
    margin-top:-8px ;
    border-left:1px solid black ;
    width:55px ;
    height:55px ;
}
.tex{
    display:none ;
}
.smtex{
    font-size: 18.9px;
    padding:5px ;
    height: 169px;
}
.sratex{
    font-size: 18.9px;
    padding:5px ;
    height: 110px;
}
.srtex{
    font-size: 18.9px;
    padding:5px ; 
    height: 140px;
}
.hov{
    width:258px ;
    margin-left: -5px;
    transition: 0.5s;
}
.thov{
    margin-top:-5px ;
}
.hov:hover{
    background-color: #565454;
}
.smhov{
    height: 37px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.srahov{
    height: 63px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.srhov{
    height: 65px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}